.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
.dart_tool

target/

.idea/
ide
*.iml
.vscode/

release.keystore
key.properties
*.jks
*.pem
.env*

*.json
!pubspec.json
!*.webmanifest
keystore.b64
